<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>superadmin/superAdminIndex.xhtml</welcome-file>
    </welcome-file-list>
    
    
    <servlet>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>servlets.ImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/image</url-pattern>
	</servlet-mapping>
        
        <servlet>
		<servlet-name>ImageProductServlet</servlet-name>
		<servlet-class>servlets.ImageProductServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageProductServlet</servlet-name>
		<url-pattern>/imageproduct</url-pattern>
	</servlet-mapping> 
        
        <servlet>
		<servlet-name>ImageEscServlet</servlet-name>
		<servlet-class>servlets.ImageEscServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageEscServlet</servlet-name>
		<url-pattern>/imageEsc</url-pattern>
	</servlet-mapping> 
        
        <servlet>
		<servlet-name>PhotoEscServlet</servlet-name>
		<servlet-class>servlets.PhotoEscServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PhotoEscServlet</servlet-name>
		<url-pattern>/photoEsc</url-pattern>
	</servlet-mapping> 
        
        
        
        
      <!-- <filter>
   <filter-name>Pretty Filter</filter-name>
   <filter-class>com.ocpsoft.pretty.PrettyFilter</filter-class>
</filter>

<filter-mapping> 
   <filter-name>Pretty Filter</filter-name> 
   <url-pattern>/*</url-pattern> 
   <dispatcher>FORWARD</dispatcher> 
   <dispatcher>REQUEST</dispatcher> 
   <dispatcher>ERROR</dispatcher>
</filter-mapping>-->
</web-app>
